<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="format-detection" content="telephone=no">
      <title>White Rose Events and Catering</title>
      <meta content="White Rose Events and Catering" name="description">
      <meta content="White Rose Events and Catering" name="keywords">
      <meta property="og:type" content="website"/>
      <meta property="og:description" content="White Rose Events and Catering"/>
      <meta property="og:image" itemprop="image" content="uploads/logos/whiterose-logo-new.webp"/>
      <meta property="og:title" content="White Rose Events and Catering">
      <meta property="og:site_name" content="White Rose Events and Catering"/>
      <meta property="og:url" content="https://imbazim.github.io/WhiteRose/"/>
      <meta name="twitter:site" content="White Rose Events and Catering"/>
      <meta name="twitter:image:src" content="uploads/logos/whiterose-logo-new.webp"/>
      <meta name="twitter:url" content="https://imbazim.github.io/WhiteRose/"/>
      <link rel="apple-touch-icon" sizes="57x57" href="assets/icons/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="assets/icons/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="assets/icons/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="assets/icons/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="assets/icons/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="assets/icons/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="assets/icons/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="assets/icons/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="assets/icons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="assets/icons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
      <link rel="manifest" href="assets/icons/manifest.json">
      <meta name="msapplication-TileColor" content="#06004f">
      <meta name="msapplication-TileImage" content="assets/icons/ms-icon-144x144.png">
      <meta name="theme-color" content="#06004f">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
      <link rel="stylesheet" href="assets/css/whiterose-3.css">
   </head>
   <body>
      <div class="wrapper" id="whiteroseStoreView" style="background-color: #06004f;">
         <div class="logo">
            <img src="uploads/logos/whiterose-logo-new.webp" alt="White Rose Events and Catering">
            <h1 class="text-white">White Rose Events & Catering</h1>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="search_box">
                     <input @input='evt=>inputSearch=evt.target.value' v-model="inputSearch" class="search_input" type="text" maxlength="50" @change="search($event.target.value)"  @keyup="search($event.target.value)" @keydown="search($event.target.value)" @keypress="search($event.target.value)" placeholder="What are you looking for?">
                     <button class="btn2">
                        <svg v-if="inputSearch==''" version="1.1" id="search_btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 74.8 74.5" style="enable-background:new 0 0 74.8 74.5;" xml:space="preserve">
                           <g transform="translate(0,-952.36218)">
                              <path class="search_color" d="M30.2,953.4c-16,0-29,13-29,29c0,16,13,29,29,29c6.9,0,13.3-2.4,18.2-6.5l19.6,19.6c1.2,1.2,3.1,1.2,4.2,0
                                 c1.2-1.2,1.2-3,0-4.2l-19.6-19.6c4.1-5,6.5-11.4,6.5-18.3C59.2,966.4,46.2,953.4,30.2,953.4L30.2,953.4z M30.2,959.4
                                 c12.7,0,23,10.3,23,23c0,12.7-10.3,23-23,23s-23-10.3-23-23C7.2,969.6,17.5,959.4,30.2,959.4z"/>
                           </g>
                        </svg>
                        <svg @click="show_category_item(0,'');inputSearch=''" v-if="!(inputSearch=='')" id="search_btn" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                           <title>remove-delete-circle-glyph</title>
                           <path d="M256,24C383.9,24,488,128.1,488,256S383.9,488,256,488,24.06,383.9,24.06,256,128.1,24,256,24ZM0,256C0,397.16,114.84,512,256,512S512,397.16,512,256,397.16,0,256,0,0,114.84,0,256Z" fill="#5b5b5f"/>
                           <polygon points="382 172.72 339.29 130.01 256 213.29 172.72 130.01 130.01 172.72 213.29 256 130.01 339.28 172.72 382 256 298.71 339.29 381.99 382 339.28 298.71 256 382 172.72" fill="#5b5b5f"/>
                        </svg>
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <div class="contant" style="background-color: #06004f;">
            <div class="container">
               <!-- <i class="fa fa-arrow-circle-left" aria-hidden="true" style=" position: absolute;left: 5px;margin-top: 38px;z-index: 1;"></i> -->
               <section class="category-grid">
                  <div class="category_box" @click="show_category_item(0,'ALL ITEMS')">
                     <img src="uploads/categories/all-items.webp">
                     <span >
                     ALL ITEMS
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(813,'NATURAL JUICE & MOJITOS')">
                     <img src="uploads/categories/juices.webp">
                     <span >
                     NATURAL JUICE &amp; MOJITOS
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(814,'SALAD BAR')">
                     <img src="uploads/categories/salad.webp">
                     <span >
                     SALAD BAR
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(815,'THATTU KADA')">
                     <img src="uploads/categories/thattukada.webp">
                     <span >
                     THATTU KADA
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(816,'BREAD CORNER')">
                     <img src="uploads/categories/bread.webp">
                     <span >
                     BREAD CORNER
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(822,'STARTER & SAUCES')">
                     <img src="uploads/categories/starter-sauces.webp">
                     <span >
                     STARTER &amp; SAUCES
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(823,'CURRY CORNER')">
                     <img src="uploads/categories/curry.webp">
                     <span >
                     CURRY CORNER
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(824,'MAIN COURSE - CHICKEN')">
                     <img src="uploads/categories/main-course-chicken.webp">
                     <span >
                     MAIN COURSE - CHICKEN
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(825,'MAIN COURSE - BEEF')">
                     <img src="uploads/categories/main-course-beef.webp">
                     <span >
                     MAIN COURSE - BEEF
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(826,'MAIN COURSE - MUTTON')">
                     <img src="uploads/categories/main-course-mutton.webp">
                     <span >
                     MAIN COURSE - MUTTON
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(827,'MAIN COURSE - FISH')">
                     <img src="uploads/categories/main-course-fish.webp">
                     <span >
                     MAIN COURSE - FISH
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(829,'MAIN COURSE - PULAVU')">
                     <img src="uploads/categories/main-course-pulav.webp">
                     <span >
                     MAIN COURSE - PULAVU
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(830,'നാടൻ സദ്യ വിഭവങ്ങൾ')">
                     <img src="uploads/categories/sadhya.webp">
                     <span >
                     നാടൻ സദ്യ വിഭവങ്ങൾ
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(831,'CHICKEN ITEMS')">
                     <img src="uploads/categories/chicken-items.webp">
                     <span >
                     CHICKEN ITEMS
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(832,'BEEF ITEMS')">
                     <img src="uploads/categories/beef-items.webp">
                     <span >
                     BEEF ITEMS
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(833,'MUTTON ITEMS')">
                     <img src="uploads/categories/mutton-items.webp">
                     <span >
                     MUTTON ITEMS
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(834,'EGG ECSTACY')">
                     <img src="uploads/categories/egg-items.webp">
                     <span >
                     EGG ECSTACY
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(835,'KABAB')">
                     <img src="uploads/categories/kabab.webp">
                     <span >
                     KABAB
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(837,'DRY STATION')">
                     <img src="uploads/categories/dry.webp">
                     <span >
                     DRY STATION
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(838,'GRAVY CORNER')">
                     <img src="uploads/categories/gravy.webp">
                     <span >
                     GRAVY CORNER
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(839,'DESSERTS')">
                     <img src="uploads/categories/desserts.webp">
                     <span >
                     DESSERTS
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(840,'PUDDINGS')">
                     <img src="uploads/categories/pudding.webp">
                     <span >
                     PUDDINGS
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(841,'CAKES & PASTRIES')">
                     <img src="uploads/categories/cakes.webp">
                     <span >
                     CAKES &amp; PASTRIES
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(842,'ICE CREAMS')">
                     <img src="uploads/categories/ice-cream.webp">
                     <span >
                     ICE CREAMS
                     </span>
                  </div>
                  <div class="category_box" @click="show_category_item(843,'PAYASAM')">
                     <img src="uploads/categories/payasam.webp">
                     <span >
                     PAYASAM
                     </span>
                  </div>
               </section>
               <!-- <i class="fa fa-arrow-circle-right" aria-hidden="true" style=" position: absolute;right: 5px;margin-top: -70px;z-index: 1;"></i> -->
            </div>
            <div class="product_row1 row">
               <div class="container" v-show="success_msg_box">
                  <div class="row">
                     <div class="col-12">
                        <br/>
                        <div class="alert alert-success"  >
                           <a href="javascript:void(0)" @click="success_msg_box=false" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                           <strong><i class="fa fa-cart-plus"></i></strong> Order successfully submitted
                        </div>
                     </div>
                  </div>
               </div>
               <h2>{{prd_title}}</h2>
               <div class="col-6" v-for="(item, index) in products" :key="item.id" v-if="item.show==1">
                  <div class="product" :class="[{active1: item.cart>0},item.tempVer]" >
                     <span v-if="item.cart>0" class="counting" @click="removeCart(item.id)"><span class="fa fa-trash" aria-hidden="true"></span>
                     </span>
                     <span v-if="item.isDiscount&&item.offer_percentage>0" class="offer" >
                     <span >
                     {{item.offer_percentage}}% Off
                     </span>
                     </span>
                     <a class="product_img" :href="item.large_image" data-lightbox="example-1"><img class="example-image" :src="item.image"  alt=""></a>
                     <h4 style="color: #000000;">{{item.name}}</h4>
                     <div v-if="item.is_variation_prd" class="form-group" style="width: 90%;margin-left: 10px;">
                        <label style="padding: 3px;">
                        <span >
                        {{item.variation_name}}
                        </span>
                        </label>
                        <select  @change="variationSelect(index,$event.target.selectedIndex)"  class="form-control"  style="border: 1px solid #313149;border-radius: 10px;">
                           <option v-for="(item_vari, index_vari) in JSON.parse(item.variation_json)">{{ item_vari.unitName }}</option>
                        </select>
                     </div>
                     <span v-if='item.price>0'>
                     <strike v-if="item.isDiscount&&item.offer_percentage>0" >{{item.currency}}{{item.cross_price}}</strike>
                     <b class="main_color" >{{item.currency}}{{item.price}}</b>
                     </span>
                     <ul class="bottom">
                        <li   @click="addCartMinus(item.id)" v-if="item.cart>0 && item.price>0"><a :class="{'animate__animated animate__rubberBand': item.cart>0 }"  class="minus"><i class="fa fa-minus" aria-hidden="true"></i></a></li>
                        <li v-if="item.cart<1"><a href="javascript:void(0)" @click="addCart(item.id)" class="btn btn-success">
                           Add to Cart</a>
                        </li>
                        <li v-if="item.cart>0 && item.price>0"><a style="width: 60px;"   href="javascript:void(0)"  class="btn btn-success">
                           <span style="color: #000000;">
                           {{item.cart}}
                           </span>
                           </a>
                        </li>
                        <li @click="addCartPlus(item.id)" v-if="item.cart>0 && item.price>0"><a class="plus"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
               <div class="offer_banner">
                  <img src="assets/img/footer-banner.webp">
               </div>
            </div>
         </div>
         <div class="cart " data-toggle="modal" data-target="#whiteroseCart">
            <div v-if="cartItem.length>0" :class="cartAnima" class="cart_counting">{{cartItem.length}}</div>
            <img src="assets/img/cart.svg">
         </div>
         <!-- The About Modal -->
         <div class="modal" id="whiteroseAbout">
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                     <h5 class="modal-title main_color">About</h5>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                     <div class="contant about">
                        <div class="product_row1">
                           <div class="product_outer">
                              <p style='text-align: justify;'></p>
                           </div>
                           <div class="contact_info">
                              <div class="container">
                                 <div class="row">
                                    <div class="col-12">
                                       <p><b>White Rose Events & Catering</b></p>
                                       <p>Edakkaparamba, Kannamangalam PO, Kunnumpuram, Vengara, Malappuram, Kerala - 676305</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer">
            <ul>
               <li><a href="javascript:void(0)"><i class="fa fa-home"></i>Home</a></li>
               <li><a href="javascript:void(0)" data-toggle="modal" data-target="#whiteroseAbout"><i class="fa fa-exclamation-circle"></i>About</a></li>
               <li></li>
               <li><a href="tel:+919072062525"><i class="fa fa-phone"></i>Call</a></li>
               <li><a href="javascript:void(0)"  onclick="shareFunction()"><i class="fa fa-share-alt"></i> Share</a></li>
               <!--id="share_btn"-->
            </ul>
         </div>
         <!-- The Modal -->
         <div class="modal" id="whiteroseCart" >
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                     <h5 class="modal-title main_color">Checkout</h5>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                     <div class="customer-details">
                        <h6>Shopping Cart <span>{{cartItem.length}}</span></h6>
                        <div class="cart-item" v-for="(item, index) in cartItem" :key="item.id" :class="item.cartRemoveAnima">
                           <a @click="removeCart(item.pid)" class="delete">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 438 512" style="enable-background:new 0 0 438 512;" xml:space="preserve">
                                 <path d="M425.9,114.4l-11.3-33.9C410.3,67.6,398.2,59,384.6,59h-95V28c0-15.5-12.6-28-28-28h-87c-15.5,0-28,12.6-28,28V59h-95
                                    c-13.6,0-25.6,8.7-29.9,21.6l-11.3,33.9c-2.6,7.7-1.3,16.3,3.5,22.9s12.4,10.5,20.6,10.5h11.8l26,321.6
                                    c1.9,23.9,22.2,42.6,46.1,42.6h204.9c23.9,0,44.2-18.7,46.1-42.6l26-321.6h6.5c8.1,0,15.8-3.9,20.6-10.5
                                    C427.1,130.7,428.4,122.2,425.9,114.4z M176.6,30h83.1v29h-83.1V30z M339.4,467c-0.7,8.4-7.8,15-16.2,15H118.3
                                    c-8.4,0-15.5-6.6-16.2-15L76.3,147.8h288.9L339.4,467z M40.8,117.8L50.1,90c0.2-0.6,0.8-1.1,1.5-1.1h333.1c0.7,0,1.3,0.4,1.5,1.1
                                    l9.3,27.8H40.8z"/>
                                 <path d="M291.5,466c0.3,0,0.5,0,0.8,0c7.9,0,14.6-6.2,15-14.2l14.1-270.4c0.4-8.3-5.9-15.3-14.2-15.8c-8.3-0.4-15.3,5.9-15.8,14.2
                                    l-14.1,270.4C276.9,458.5,283.2,465.5,291.5,466z"/>
                                 <path d="M129.6,451.8c0.4,8,7.1,14.2,15,14.2c0.3,0,0.6,0,0.8,0c8.3-0.4,14.6-7.5,14.2-15.8l-14.8-270.4
                                    c-0.4-8.3-7.5-14.6-15.8-14.2c-8.3,0.4-14.6,7.5-14.2,15.8L129.6,451.8z"/>
                                 <path d="M218.3,466c8.3,0,15-6.7,15-15V180.6c0-8.3-6.7-15-15-15s-15,6.7-15,15V451C203.3,459.3,210,466,218.3,466z"/>
                              </svg>
                           </a>
                           <div class="media">
                              <img class="mr-3" :src="item.image" alt="Generic placeholder image">
                              <div class="media-body">
                                 <h5 class="mt-0">{{item.name}}</h5>
                                 <p v-if="item.is_variation_prd">{{item.variation_name }} : {{ item.variation_unit }}</p>
                              </div>
                           </div>
                           <div class="cart_item_summary" v-if="item.price>0">
                              <span class="sc-cart-item-price">{{item.currency+item.price}} </span>
                              <span class="price-span" id="price-span"> x </span>
                              <a href="javascript:void(0)"   v-if="item.qty<=1" class="minus_1_qty"><i style="color: #d4babadd;" class="fa fa-minus left-spc1" aria-hidden="true"></i></a>
                              <a href="javascript:void(0)" @click="addCartMinus(item.pid)" v-if="!(item.qty<=1)" class="minus"><i class="fa fa-minus left-spc1" aria-hidden="true"></i></a>
                              <input readonly type="text" style="width: 35px" :value="item.qty" id="fname" name="fname" class="sc-cart-item-qty">
                              <a href="javascript:void(0)" @click="addCartPlus(item.pid)" class="plus"><i class="fa fa-plus left-spc1" aria-hidden="true"></i></a>
                              <span class="price-span"> = </span>
                              <span class="sc-cart-item-amount">{{item.currency+(item.price*item.qty)}}</span>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="sc-cart-summary-subtotal"  v-if="totalSum>0">
                           Subtotal: <span class="sc-cart-subtotal"></span>
                           {{currency+totalSum}}
                        </div>
                     </div>
                  </div>
                  <hr/>
                  <ul class="btn-list" v-if="home_delivery||takeaway_delivery||dining_delivery">
                     <li v-if="home_delivery"><a
                        :style="home_delivery_btnSelect?'background:#6756fc;':'background-color: #34495e;'"
                        style="width: 110px;font-size: 12px;" class="sc-cart-clear btn-color1" @click="home_delivery_btnSelect=true;takeaway_delivery_btnSelect=false;dining_delivery_btnSelect=false;">Home Delivery</a></li>
                     <li v-if="takeaway_delivery"><a
                        :style="takeaway_delivery_btnSelect?'background:#6756fc;':'background-color: #34495e;'"
                        style="width: 110px;font-size: 12px;" class="sc-cart-clear  btn-color1" @click="home_delivery_btnSelect=false;takeaway_delivery_btnSelect=true;dining_delivery_btnSelect=false;">Take Away</a></li>
                     <li v-if="dining_delivery"><a
                        :style="dining_delivery_btnSelect?'background:#6756fc;':'background-color: #34495e;'"
                        style="width: 110px;font-size: 12px;" class="sc-cart-clear  btn-color1" @click="home_delivery_btnSelect=false;takeaway_delivery_btnSelect=false;dining_delivery_btnSelect=true;">Dining</a></li>
                  </ul>
                  <div class="customer-details" v-show="home_delivery_btnSelect||takeaway_delivery_btnSelect||dining_delivery_btnSelect">
                     <div class="container">
                        <div class="row">
                           <div class="col-12">
                              <form>
                                 <div class="alert alert-danger" v-if="!formFillErrorMsg==''">
                                    <a @click="formFillErrorMsg=''" class="close">&times;</a>
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{formFillErrorMsg}}
                                 </div>
                                 <div class="form-group">
                                    <label for="Name" style="font-size: 15px;">Name*</label>
                                    <input style="font-size: 18px;"   v-model="cus_name"  @input="this.localStorage.setItem('cus_name',cus_name);evt=>cus_name=evt.target.value" type="text" maxlength="50"  class="form-control" placeholder="Enter Your Name">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputPassword1" style="font-size: 15px;">Mobile Number*</label>
                                    <input style="font-size: 18px;" v-model="cus_phone" @input="this.localStorage.setItem('cus_phone',cus_phone);evt=>cus_phone=evt.target.value" type="text" maxlength="15" class="form-control" placeholder="Enter your Contact Number">
                                 </div>
                                 <div class="form-group" v-if="home_delivery_btnSelect">
                                    <label for="exampleInputPassword1" style="font-size: 15px;">Address*</label>
                                    <textarea style="font-size: 18px;" v-model="cus_address" @input="this.localStorage.setItem('cus_address',cus_address);evt=>cus_address=evt.target.value" maxlength="100"  class="form-control" id="address" placeholder="Enter Name/Address" rows="5"></textarea>
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputPassword1" style="font-size: 15px;">Pincode*</label>
                                    <input style="font-size: 18px;" v-model="cus_pincode" @input="this.localStorage.setItem('cus_pincode',cus_pincode);evt=>cus_pincode=evt.target.value" type="text" maxlength="15" class="form-control" placeholder="Enter your Pincode">
                                 </div>
                                 <div class="form-group" v-if="home_delivery_btnSelect">
                                    <label for="exampleInputPassword1">My Location</label>
                                    <input type="checkbox"
                                       ref="locationSelected"
                                       @click="deliveryGetLocation">
                                 </div>
                                 <div class="form-group" v-if="dining_delivery_btnSelect">
                                    <label for="exampleInputPassword1" style="font-size: 15px;">Table No</label>
                                    <input  style="font-size: 18px;" v-model="cus_tableno"  type="text" maxlength="15" class="form-control" placeholder="Enter your Table No">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputPassword1" style="font-size: 15px;">Order note (<i>Eg: Delivery Time, Suggestions...</i>)</label>
                                    <textarea v-model="cus_odernote" style="font-size: 18px;"  maxlength="250"  class="form-control" placeholder="Order note" rows="5"></textarea>
                                 </div>
                                 <button ref="close_modal_btn" type="button" class="btn btn-primary close_btn" data-dismiss="modal">Close</button>
                                 <button type="button"  v-if="cartItem.length==0" class="btn btn-primary whatsapp_btn" disabled>Order On WhatsApp</button>
                                 <button type="button"  v-if="!(cartItem.length==0)" @click="order" class="btn btn-primary whatsapp_btn">Order On WhatsApp</button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
      <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
      <script src="assets/js/whiterose-2.js"></script>
      <script src="assets/js/whiterose-vue.js"></script>
   </body>
</html>